button,
input,
textarea,
a {
  border-radius: 0 !important;
}

p {
  font-size: 14px;
  line-height: 26px;
  color: #51545f;
}

* {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.btn-outline-success {
  color: #2bc0a4;
  background-color: transparent;
  background-image: none;
  border-color: #2bc0a4;
}

.btn-outline-success:hover {
  border-color: #2bc0a4;
  color: whitesmoke;
  background-color: #2bc0a4;
}

.form-control,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2bc0a4;
          box-shadow: 0 0 0 1px #2bc0a4;
  border: 0px solid transparent;
}

.header {
  position: relative;
  width: 100%;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.navbar {
  height: 80px;
  padding: 0px 75px;
  z-index: 5;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-brand {
  color: white;
  font-family: 'Berkshire Swash', cursive !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-brand .img-fluid {
  height: 50px;
  max-height: 50px;
  max-width: 100%;
}

.navbar-brand:focus, .navbar-brand:hover {
  color: #EFE3C3;
}

.navbar-brand:hover {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.navbar-nav li a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-nav li:hover a,
.navbar-nav li.active a {
  color: #EFE3C3;
}

.navbar-nav li:hover a {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.navbar-nav .nav-item:not(:last-of-type) {
  margin-right: 50px;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 19px;
}

.navbar-toggler {
  padding: .25rem 0;
  border: 0;
}

.navbar-toggler:active, .navbar-toggler:focus, .navbar-toggler:hover {
  outline-color: transparent !important;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-focus-ring-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar__burger {
  width: 2.5rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.navbar__burger span {
  display: block;
  position: absolute;
  height: calc(25% - 0.3rem);
  width: 100%;
  background-color: whitesmoke;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__burger span:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 25%;
}

.navbar__burger span:nth-child(3) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 25%;
}

.navbar__burger span:nth-child(1) {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

.navbar__burger span:nth-child(4) {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
}

.navbar .collapsed span {
  display: block;
  position: absolute;
  height: calc(25% - 0.3rem);
  width: 100%;
  background-color: whitesmoke;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: none;
          transform: none;
}

.navbar .collapsed span:nth-child(2) {
  top: 25%;
  -webkit-transform: none;
          transform: none;
}

.navbar .collapsed span:nth-child(3) {
  top: 50%;
  -webkit-transform: none;
          transform: none;
}

.navbar .collapsed span:nth-child(4) {
  top: 75%;
  -webkit-transform: none;
          transform: none;
}

.hero {
  height: 700px;
  margin-top: -80px;
}

.hero .owl-carousel {
  position: absolute;
  z-index: -1;
}

.hero__background {
  height: 700px;
  max-height: calc(100vh - 80px);
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__heading, .hero__subheading {
  font-family: 'Berkshire Swash', cursive !important;
  font-weight: 400;
  color: #EFE3C3;
  position: relative;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6vmin;
}

.hero__subheading {
  font-size: 3vmin;
}

.main {
  background: #f7f7f7;
}

.main .container {
  background-color: white;
  font-size: 14px;
  line-height: 26px;
  color: #51545f;
}

.footer {
  background-color: #121526;
  color: whitesmoke;
}

.footer__heading {
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
}

.footer__p {
  font-size: 14px;
  line-height: 26px;
  color: #b5aec4;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 20px;
}

.footer__list,
.footer__grey-container a {
  font-weight: 400;
  line-height: 24px;
  list-style: none;
  color: #2F2F2F;
}

.footer__grey-container {
  background: #F8F8F8;
}

.footer__rights-reserved {
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.35px;
  color: #A3A5AD;
}

.footer__list-item,
.footer__list-item a {
  font-size: 14px;
  line-height: 36px;
  color: #b5aec4;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.footer__list-item--green,
.footer__list-item a--green {
  color: #2bc0a4 !important;
}

.footer__list-item a:hover,
.footer__list-item a:focus {
  color: #2bc0a4;
  text-decoration: none;
}

.footer__list-item a:hover,
.footer__list-item a:focus .footer__link path {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__link:hover path {
  fill: #1E3BB7;
}

.footer__copyright {
  background-color: #03081C;
  color: #51545f;
}

@media (max-width: 992px) {
  .navbar {
    background-color: black;
    padding: 0 1rem;
    height: 60px;
    border-bottom: none;
  }
  .navbar-collapse {
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 1rem;
    background-color: black;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-brand .img-fluid {
    max-height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */