@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('ion-rangeslider/css/ion.rangeSlider.min.css');

$moderateBlue:#4268BD;
$discordColor:#7289DA;


$greyIsabeline: #EFE9E7;
$goldSunray:#dea64a;
$blackSpace:#2F2E41;

$font-size-large:1.5rem;
$font-size-big:1.2rem;



h1,
h2,
h3 {
    color: $blackSpace;
    font-weight: 800;
}

body {
    background: $greyIsabeline;
}

* {
    font-family: 'Poppins', 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

    &::selection {
        background: $moderateBlue;
    }
}

.container-fluid {
    max-width: 1700px;
}

.form-control {
    border-radius: 0.5rem;

    &:focus {
        border-color: lighten($color: $goldSunray, $amount: 20%);
        box-shadow: 0 0 0 0.2rem rgba(222, 166, 74, .25);
    }
}


.btn-warning {
    background-color: $goldSunray;
    border-color: $goldSunray;
}

.color-gold {
    color: $goldSunray;


}

a.color-gold {

    &:hover,
    &:focus {
        color: $goldSunray;
    }
}

.header {
    position: relative;
    width: 100%;
}

.navbar {
    background: $greyIsabeline;
    height: 80px;
    padding: 0px 75px;
    z-index: 5;
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: 0.3s;
    top: 0;
    left: 0;

    &-brand {
        color: $blackSpace;
        font-weight: 800;
        transition: 0.2s;

        .img-fluid {
            height: 50px;
            max-height: 50px;
            max-width: 100%;
        }

        &:focus,
        &:hover {
            color: $goldSunray;
        }
    }

    &-nav li .nav-link {
        transition: 0.2s;
    }

    &-nav li:hover .nav-link,
    &-nav li.active .nav-link {
        color: $goldSunray;
    }


    &-nav li:hover .nav-link {
        transform: translateY(-0.25rem);
    }


    &-nav .nav-item:not(:last-of-type) {
        margin-right: 50px;
    }

    &-nav .nav-link {
        color: $blackSpace;
        font-size: 19px;


        &:focus {
            box-shadow: none;
        }
    }


    &-toggler {
        padding: .25rem 0;
        border: 0;

        //resetting bootstrap outline
        &:active,
        &:focus,
        &:hover {
            outline-color: transparent !important;
            outline: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-appearance: none;
            -webkit-focus-ring-color: none;
            box-shadow: none;
        }
    }

    &__burger {
        width: 2.5rem;
        height: 2rem;
        position: relative;
        cursor: pointer;
        transform: scale(0.7);



        span {
            display: block;
            position: absolute;
            height: calc(25% - 0.3rem);
            width: 100%;
            background-color: $blackSpace;
            border-radius: 1px;
            opacity: 1;
            left: 0;
            top: 0;
            transition: 0.3s;

            &:nth-child(2) {
                transform-origin: center;
                transform: rotate(45deg);
                top: 25%;
            }

            &:nth-child(3) {
                transform-origin: center;
                transform: rotate(-45deg);
                top: 25%;
            }

            &:nth-child(1) {
                transform-origin: top left;
                transform: rotate(45deg);
                opacity: 0;
            }

            &:nth-child(4) {
                transform-origin: bottom right;
                transform: rotate(-45deg);
                opacity: 0;
            }


        }
    }

    // .collapsed span:nth-child(3) {
    //     width: 75%;
    // }

    .collapsed {
        span {
            display: block;
            position: absolute;
            height: calc(25% - 0.3rem);
            width: 100%;
            background-color: $blackSpace;
            border-radius: 1px;
            opacity: 1;
            left: 0;
            top: 0;
            transition: 0.3s;
            transform: none;

            &:nth-child(2) {
                top: 25%;
                transform: none;
            }

            &:nth-child(3) {
                top: 50%;
                transform: none;
            }

            &:nth-child(4) {
                top: 75%;
                transform: none;
            }
        }
    }
}



.main {
    background: $blackSpace;
    margin-top: 80px;
    min-height: calc(100vh - 235px);

}


.hero {
    margin-top: -80px;
    padding-top: 80px;
    background: $greyIsabeline;

    &__background {
        height: 100vh;
        object-fit: cover;
    }

    &__heading,
    &__subheading {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        letter-spacing: 0.45px;
        color: $goldSunray;
        position: relative;
        z-index: 0;
        font-size: 6vmin;
    }

    &__subheading {
        font-size: 3vmin;
        color: $blackSpace;
    }

    &__input {
        &:focus {
            border-color: lighten($color: $goldSunray, $amount: 20%);
            box-shadow: 0 0 0 0.2rem rgba(222, 166, 74, .25);
        }
    }

}


.features {
    background: $blackSpace;
    position: relative;
    color: $goldSunray;
    min-height: 500px;

    &__text {
        color: $goldSunray;
    }

    &__item {
        padding: 0 1rem;
        display: flex;
        align-items: center;
    }

    &__heading {
        color: $goldSunray;
        font-weight: 800;
    }

    &__subheading {
        font-size: $font-size-big;
        max-width: 700px;
        margin: auto;
        text-align: center;
        color: $goldSunray;
    }


    &__check-mark {
        height: 3rem;
        width: 3rem;
    }

    &__text {
        font-weight: 500;
        margin-bottom: 0;
    }
}

.pricing {
    .block {

        display: block;
        padding: 50px;
        background-color: darken($color: $blackSpace, $amount: 10%);
        border-radius: 6px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .05);
        box-sizing: border-box;
        margin-bottom: 20px;
    }


    &__heading {
        color: $greyIsabeline;
    }

    .option {
        // float: left;
        // width: 50%;
        font-size: 1rem;
        letter-spacing: -.5px;
        // background-color: #f9f9f9;
        // padding: 10px 15px;
        // box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        background-color: darken($color: $blackSpace, $amount: 5%);
        padding: 0.45rem 1.5rem;
        color: $greyIsabeline;
        opacity: 0.8;
        // flex: 2 0 25%;

        // &:nth-child(even) {
        //     background: $greyIsabeline;
        // }



        &-name {
            // float: left;
            // width: 65%;
        }

        &-price {
            // float: right;
            // width: 35%;
            // text-align: right;
            // font-weight: 600;

        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: $blackSpace;

        &--double {
            grid-template-columns: 1fr 1fr;
        }
    }
}


.contact {
    padding-top: 10rem;

    &__subheading {
        color: $goldSunray;
        font-style: italic;
    }

    &__discord-link {
        background: $goldSunray;
        border: $goldSunray;
        outline: $goldSunray;
        transition: 0.3s;
        letter-spacing: 0.5px;

        &:hover,
        &:active {
            border: $goldSunray;
            outline: $goldSunray;
            background: $discordColor;
            box-shadow: none;
        }

        &:focus {
            background: $goldSunray;
            border: $goldSunray;
            outline: $goldSunray;
            background: $goldSunray;
            box-shadow: none;
        }

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(1);
        }
    }

}

.contact-form {
    color: $blackSpace;
    background-color: $greyIsabeline;
    border-radius: 6px;
}

.steps {
    display: flex;

    &__step {
        font-size: 1.5rem;
        border-bottom: 12px solid grey;
        color: grey;
        width: 50%;
        padding: 0.5rem 0;

        &.active {
            border-color: $goldSunray;
            color: $goldSunray;
        }
    }
}

.products-choice {

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: $goldSunray;
        color: white;
    }

    .nav-pills .nav-link {
        color: $goldSunray;
    }

    .tab-pane {
        text-align: center;
        color: $blackSpace;
        font-size: 1.5rem;
    }

    &__heroName {
        font-size: 2rem;
        font-weight: bold;
    }

    &__heroAdditional {
        font-size: 1rem;
        font-weight: bold;
    }
}

.footer {
    background-color: $blackSpace;
    text-align: justify;
    color: $greyIsabeline;
    padding-top: 3rem;
    margin-top: -1px;

    &__copyright {
        border-top: 1px solid darken($color: $blackSpace, $amount: 20%);
        text-align: center;
    }

    &__link {
        color: $greyIsabeline;
        transition: 0.2s;
        line-height: 1.7;

        &:hover {
            color: $goldSunray;
            text-decoration: none;
        }
    }
}

@media (max-width:992px) {



    .navbar {
        background-color: $greyIsabeline;
        padding: 0 1rem;
        height: 60px;
        border-bottom: none;

        &-collapse {
            position: absolute;
            top: 60px;
            width: 100%;
            left: 0;
            z-index: 1;
            padding: 1rem;
            background-color: $greyIsabeline;
            box-shadow: 0px 9px 11px 1px rgba(0, 0, 0, 0.1);
        }
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-brand .img-fluid {
        max-height: 40px;
    }

    .main {

        margin-top: 60px;
    }

    .hero {
        padding-bottom: 3rem;

        &__img-container {
            max-height: 200px;
        }

        svg {
            height: 75%;
        }
    }

    .pricing {
        .block {
            padding: 1rem 0.5rem;
        }

        .color-gold {
            text-align: right;
            margin-left: 5rem;
        }

        &__grid {
            grid-template-columns: 1fr 1fr;

            .option:nth-child(8n+2),
            .option:nth-child(8n+4),
            .option:nth-child(8n+5),
            .option:nth-child(8n+7) {
                background-color: darken($color: $blackSpace, $amount: 5%);
            }

            .option:nth-child(4n+2),
            .option:nth-child(4n-1) {

                background-color: darken($color: $blackSpace, $amount: 8%);
            }

            &--double {
                grid-template-columns: 1fr;

                .option:nth-child(8n+2),
                .option:nth-child(8n+4),
                .option:nth-child(8n+5),
                .option:nth-child(8n+7) {
                    background-color: darken($color: $blackSpace, $amount: 5%);
                }

                .option:nth-child(4n+2),
                .option:nth-child(4n-1) {
                    background-color: darken($color: $blackSpace, $amount: 5%);
                }

                .option:nth-child(even) {

                    background-color: darken($color: $blackSpace, $amount: 8%);
                }

            }
        }

    }


    .contact-form {
        border-radius: 0;
    }
}

@media (min-width:992px) {


    .pricing__grid {

        .option:nth-child(8n+2),
        .option:nth-child(8n+4),
        .option:nth-child(8n+5),
        .option:nth-child(8n+7) {
            background-color: darken($color: $blackSpace, $amount: 8%);
        }
    }

    .pricing__grid--double {

        .option:nth-child(8n+2),
        .option:nth-child(8n+4),
        .option:nth-child(8n+5),
        .option:nth-child(8n+7) {
            background-color: darken($color: $blackSpace, $amount: 5%);
        }

        .option:nth-child(4n+2),
        .option:nth-child(4n-1) {

            background-color: darken($color: $blackSpace, $amount: 8%);
        }
    }


}

@keyframes arrow {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    25% {
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}