button,
input,
textarea,
a {
  border-radius: 0 !important;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #a78a6e;
}

h1,
h2,
h3 {
  font-family: 'Berkshire Swash', cursive !important;
  font-weight: 400;
  color: #EFE3C3;
  text-shadow: 2px 0px 4px #303030;
}

body {
  background: #181818;
}

* {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

*::-moz-selection {
  background: #4268BD;
}

*::selection {
  background: #4268BD;
}

.header {
  position: relative;
  width: 100%;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.navbar {
  height: 80px;
  padding: 0px 75px;
  z-index: 5;
  background: #303030;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #1e1e1e 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  position: fixed;
  width: 100%;
  z-index: 3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
}

.navbar-brand {
  color: #EFE3C3;
  font-family: 'Berkshire Swash', cursive !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-shadow: 2px 0px 4px #303030;
}

.navbar-brand .img-fluid {
  height: 50px;
  max-height: 50px;
  max-width: 100%;
}

.navbar-brand:focus, .navbar-brand:hover {
  color: #EFE3C3;
}

.navbar-nav li a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-nav li:hover a,
.navbar-nav li.active a {
  color: #EFE3C3;
}

.navbar-nav li:hover a {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.navbar-nav .nav-item:not(:last-of-type) {
  margin-right: 50px;
}

.navbar-nav .nav-link {
  color: #EFE3C3;
  font-size: 19px;
  text-shadow: 2px 0px 4px #303030;
}

.navbar-toggler {
  padding: .25rem 0;
  border: 0;
}

.navbar-toggler:active, .navbar-toggler:focus, .navbar-toggler:hover {
  outline-color: transparent !important;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-focus-ring-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar__burger {
  width: 2.5rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.navbar__burger span {
  display: block;
  position: absolute;
  height: calc(25% - 0.3rem);
  width: 100%;
  background-color: whitesmoke;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__burger span:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 25%;
}

.navbar__burger span:nth-child(3) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 25%;
}

.navbar__burger span:nth-child(1) {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

.navbar__burger span:nth-child(4) {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
}

.navbar .collapsed span {
  display: block;
  position: absolute;
  height: calc(25% - 0.3rem);
  width: 100%;
  background-color: whitesmoke;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: none;
          transform: none;
}

.navbar .collapsed span:nth-child(2) {
  top: 25%;
  -webkit-transform: none;
          transform: none;
}

.navbar .collapsed span:nth-child(3) {
  top: 50%;
  -webkit-transform: none;
          transform: none;
}

.navbar .collapsed span:nth-child(4) {
  top: 75%;
  -webkit-transform: none;
          transform: none;
}

.hero {
  height: 100vh;
}

.hero .owl-carousel {
  position: absolute;
  z-index: -1;
}

.hero__background {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__heading, .hero__subheading {
  font-family: 'Berkshire Swash', cursive !important;
  font-weight: 400;
  color: #EFE3C3;
  position: relative;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6vmin;
}

.hero__subheading {
  font-size: 3vmin;
}

.hero__chevron-down {
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  left: calc(50% - 16px);
  width: 32px;
  -webkit-animation: 3.5s 1.5s arrow infinite;
          animation: 3.5s 1.5s arrow infinite;
}

.main {
  background: #181818;
}

.main .container {
  font-size: 14px;
  line-height: 26px;
  color: #a78a6e;
}

.features {
  background: #181818;
  position: relative;
  color: #a78a6e;
  min-height: 500px;
}

.features__text {
  color: #a78a6e;
}

.features__item {
  padding: 0 2rem;
}

.features .lute {
  height: 446px;
  opacity: 0.5;
  -webkit-transform: translateY(-80px) translateX(-20px);
          transform: translateY(-80px) translateX(-20px);
}

.features__subheading {
  font-size: 1.2rem;
  max-width: 700px;
  margin: auto;
  text-align: center;
  color: #a78a6e;
}

.features__check-mark {
  opacity: 0.9;
  max-width: 3rem;
}

.gallery__container {
  max-width: 1600px;
}

.gallery__subheading {
  color: #a78a6e;
  font-style: italic;
}

.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  max-height: 50vh;
}

.contact {
  padding-top: 10rem;
}

.contact__subheading {
  color: #a78a6e;
  font-style: italic;
}

.contact__discord-link {
  background: #89785C;
  border: #89785C;
  outline: #89785C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.5px;
}

.contact__discord-link:hover, .contact__discord-link:active {
  border: #89785C;
  outline: #89785C;
  background: #7289DA;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact__discord-link:focus {
  background: #89785C;
  border: #89785C;
  outline: #89785C;
  background: #89785C;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact__discord-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact__discord-link:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.about,
.recruit {
  padding-top: 150px;
}

.about__intro,
.recruit__intro {
  color: #a78a6e;
  text-align: justify;
  font-size: initial;
}

.about__note,
.recruit__note {
  opacity: 0.5;
  max-height: 40vh;
}

.about__item,
.recruit__item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #EFE3C3;
  padding-bottom: 100px;
}

.about__item-heading,
.recruit__item-heading {
  font-weight: 600;
  font-size: 1.2rem;
}

.about__item-description,
.recruit__item-description {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #EFE3C3;
  text-align: justify;
}

.about__item-date,
.recruit__item-date {
  border-right: 2px solid #89785C;
  font-size: 1.2rem;
}

.recruit__subheading {
  color: #89785C;
  font-size: 1.25rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  text-shadow: none;
}

.recruit__intro {
  color: #EFE3C3;
}

.recruit__form-label {
  font-size: 0.75rem;
  line-height: 1;
  margin-bottom: 0.25rem;
  margin-top: 3.5rem;
}

.recruit__form-input, .recruit__form-textarea {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-bottom: 1px solid #EFE3C3;
  background: transparent;
  display: block;
  color: white;
  width: 100%;
  max-width: 100%;
}

.recruit__form-input:hover, .recruit__form-input:focus, .recruit__form-textarea:hover, .recruit__form-textarea:focus {
  background: #1b1b1b;
}

.recruit__form-textarea {
  background: #1b1b1b;
  height: 100%;
  padding: 1rem;
}

.recruit__form-submit {
  background: #EFE3C3;
  color: #181818;
  border: none;
  padding: 0.5rem 3rem;
  font-size: initial;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recruit__form-submit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.recruit__form-submit:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.calendar {
  padding-top: 200px;
}

.eventsMaker .select2-container {
  display: block;
  width: 100% !important;
}

.eventsMaker .select2-container--default .select2-selection--single {
  background: transparent;
  border: none;
  border-bottom: 1px solid #EFE3C3;
  border-radius: 0;
  width: 100%;
}

.eventsMaker .select2-selection__rendered:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.eventsMaker .select2-dropdown,
.eventsMaker span.select2-dropdown.select2-dropdown--below {
  background: #181818;
}

.footer {
  background-color: #181818;
  text-align: center;
  color: #a78a6e;
  font-size: 0.75rem;
  padding-top: 30vh;
  margin-top: -1px;
}

.footer__copyright {
  border-top: 1px solid #a78a6e;
}

@media (max-width: 992px) {
  .header::before {
    background: rgba(0, 0, 0, 0.8);
  }
  .navbar {
    background-color: black;
    padding: 0 1rem;
    height: 60px;
    border-bottom: none;
  }
  .navbar-collapse {
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 1rem;
    background-color: black;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-brand .img-fluid {
    max-height: 40px;
  }
  .hero {
    margin-top: 0;
    height: calc(100vh - 60px);
  }
  .hero__background {
    height: calc(100vh - 40px);
  }
  .features .lute {
    -webkit-transform: scale(0.7) translateX(5%);
            transform: scale(0.7) translateX(5%);
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */