@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("ion-rangeslider/css/ion.rangeSlider.min.css");
h1,
h2,
h3 {
  color: #2F2E41;
  font-weight: 800;
}

body {
  background: #EFE9E7;
}

* {
  font-family: 'Poppins', 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

*::-moz-selection {
  background: #4268BD;
}

*::selection {
  background: #4268BD;
}

.container-fluid {
  max-width: 1700px;
}

.form-control {
  border-radius: 0.5rem;
}

.form-control:focus {
  border-color: #eed0a0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 166, 74, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(222, 166, 74, 0.25);
}

.btn-warning {
  background-color: #dea64a;
  border-color: #dea64a;
}

.color-gold {
  color: #dea64a;
}

a.color-gold:hover, a.color-gold:focus {
  color: #dea64a;
}

.header {
  position: relative;
  width: 100%;
}

.navbar {
  height: 80px;
  padding: 0px 75px;
  z-index: 5;
  position: fixed;
  width: 100%;
  z-index: 3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
}

.navbar-brand {
  color: #2F2E41;
  font-weight: 800;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-brand .img-fluid {
  height: 50px;
  max-height: 50px;
  max-width: 100%;
}

.navbar-brand:focus, .navbar-brand:hover {
  color: #dea64a;
}

.navbar-nav li .nav-link {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-nav li:hover .nav-link,
.navbar-nav li.active .nav-link {
  color: #dea64a;
}

.navbar-nav li:hover .nav-link {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.navbar-nav .nav-item:not(:last-of-type) {
  margin-right: 50px;
}

.navbar-nav .nav-link {
  color: #2F2E41;
  font-size: 19px;
}

.navbar-nav .nav-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler {
  padding: .25rem 0;
  border: 0;
}

.navbar-toggler:active, .navbar-toggler:focus, .navbar-toggler:hover {
  outline-color: transparent !important;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-focus-ring-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar__burger {
  width: 2.5rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.navbar__burger span {
  display: block;
  position: absolute;
  height: calc(25% - 0.3rem);
  width: 100%;
  background-color: #2F2E41;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__burger span:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 25%;
}

.navbar__burger span:nth-child(3) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 25%;
}

.navbar__burger span:nth-child(1) {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

.navbar__burger span:nth-child(4) {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
}

.navbar .collapsed span {
  display: block;
  position: absolute;
  height: calc(25% - 0.3rem);
  width: 100%;
  background-color: #2F2E41;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: none;
          transform: none;
}

.navbar .collapsed span:nth-child(2) {
  top: 25%;
  -webkit-transform: none;
          transform: none;
}

.navbar .collapsed span:nth-child(3) {
  top: 50%;
  -webkit-transform: none;
          transform: none;
}

.navbar .collapsed span:nth-child(4) {
  top: 75%;
  -webkit-transform: none;
          transform: none;
}

.main {
  background: #2F2E41;
  margin-top: 80px;
  min-height: calc(100vh - 250px);
}

.hero {
  background: #EFE9E7;
}

.hero__background {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__heading, .hero__subheading {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  letter-spacing: 0.45px;
  color: #dea64a;
  position: relative;
  z-index: 0;
  font-size: 6vmin;
}

.hero__subheading {
  font-size: 3vmin;
  color: #2F2E41;
}

.hero__input:focus {
  border-color: #eed0a0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 166, 74, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(222, 166, 74, 0.25);
}

.features {
  background: #2F2E41;
  position: relative;
  color: #dea64a;
  min-height: 500px;
}

.features__text {
  color: #dea64a;
}

.features__item {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__heading {
  color: #dea64a;
  font-weight: 800;
}

.features__subheading {
  font-size: 1.2rem;
  max-width: 700px;
  margin: auto;
  text-align: center;
  color: #dea64a;
}

.features__check-mark {
  height: 3rem;
  width: 3rem;
}

.features__text {
  font-weight: 500;
  margin-bottom: 0;
}

.pricing .block {
  display: block;
  padding: 50px;
  background-color: #191923;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.pricing__heading {
  color: #EFE9E7;
}

.pricing .option {
  font-size: 1rem;
  letter-spacing: -.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #242332;
  padding: 0.45rem 1.5rem;
  color: #EFE9E7;
  opacity: 0.8;
}

.pricing__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #2F2E41;
}

.pricing__grid--double {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact {
  padding-top: 10rem;
}

.contact__subheading {
  color: #dea64a;
  font-style: italic;
}

.contact__discord-link {
  background: #dea64a;
  border: #dea64a;
  outline: #dea64a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.5px;
}

.contact__discord-link:hover, .contact__discord-link:active {
  border: #dea64a;
  outline: #dea64a;
  background: #7289DA;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact__discord-link:focus {
  background: #dea64a;
  border: #dea64a;
  outline: #dea64a;
  background: #dea64a;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact__discord-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact__discord-link:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact-form {
  color: #2F2E41;
  background-color: #EFE9E7;
  border-radius: 6px;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps__step {
  font-size: 1.5rem;
  border-bottom: 12px solid grey;
  color: grey;
  width: 50%;
  padding: 0.5rem 0;
}

.steps__step.active {
  border-color: #dea64a;
  color: #dea64a;
}

.products-choice .nav-pills .nav-link.active,
.products-choice .nav-pills .show > .nav-link {
  background-color: #dea64a;
  color: white;
}

.products-choice .nav-pills .nav-link {
  color: #dea64a;
}

.products-choice .tab-pane {
  text-align: center;
  color: #2F2E41;
  font-size: 1.5rem;
}

.products-choice__heroName {
  font-size: 2rem;
  font-weight: bold;
}

.products-choice__heroAdditional {
  font-size: 1rem;
  font-weight: bold;
}

.footer {
  background-color: #2F2E41;
  text-align: justify;
  color: #EFE9E7;
  padding-top: 3rem;
  margin-top: -1px;
}

.footer__copyright {
  border-top: 1px solid #040405;
  text-align: center;
}

.footer__link {
  color: #EFE9E7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  line-height: 1.7;
}

.footer__link:hover {
  color: #dea64a;
  text-decoration: none;
}

@media (max-width: 992px) {
  .navbar {
    background-color: #EFE9E7;
    padding: 0 1rem;
    height: 60px;
    border-bottom: none;
  }
  .navbar-collapse {
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 1rem;
    background-color: #EFE9E7;
    -webkit-box-shadow: 0px 9px 11px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 9px 11px 1px rgba(0, 0, 0, 0.1);
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-brand .img-fluid {
    max-height: 40px;
  }
  .hero {
    padding-bottom: 3rem;
  }
  .hero__img-container {
    max-height: 200px;
  }
  .hero svg {
    height: 75%;
  }
  .pricing .block {
    padding: 1rem 0.5rem;
  }
  .pricing .color-gold {
    text-align: right;
    margin-left: 5rem;
  }
  .pricing__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pricing__grid .option:nth-child(8n+2),
  .pricing__grid .option:nth-child(8n+4),
  .pricing__grid .option:nth-child(8n+5),
  .pricing__grid .option:nth-child(8n+7) {
    background-color: #242332;
  }
  .pricing__grid .option:nth-child(4n+2),
  .pricing__grid .option:nth-child(4n-1) {
    background-color: #1e1d29;
  }
  .pricing__grid--double {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .pricing__grid--double .option:nth-child(8n+2),
  .pricing__grid--double .option:nth-child(8n+4),
  .pricing__grid--double .option:nth-child(8n+5),
  .pricing__grid--double .option:nth-child(8n+7) {
    background-color: #242332;
  }
  .pricing__grid--double .option:nth-child(4n+2),
  .pricing__grid--double .option:nth-child(4n-1) {
    background-color: #242332;
  }
  .pricing__grid--double .option:nth-child(even) {
    background-color: #1e1d29;
  }
}

@media (min-width: 992px) {
  .pricing__grid .option:nth-child(8n+2),
  .pricing__grid .option:nth-child(8n+4),
  .pricing__grid .option:nth-child(8n+5),
  .pricing__grid .option:nth-child(8n+7) {
    background-color: #1e1d29;
  }
  .pricing__grid--double .option:nth-child(8n+2),
  .pricing__grid--double .option:nth-child(8n+4),
  .pricing__grid--double .option:nth-child(8n+5),
  .pricing__grid--double .option:nth-child(8n+7) {
    background-color: #242332;
  }
  .pricing__grid--double .option:nth-child(4n+2),
  .pricing__grid--double .option:nth-child(4n-1) {
    background-color: #1e1d29;
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */